{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

{{ if $data.about.about.enable }}
{{ with $data.about.about }}
<section class="description-text">
   <style>
h1 {text-align: center; margin: auto}
p {width: 80%; margin: auto; font-family:sans-serif}
div {text-align: center;}
</style>
<blockquote>
<h2 style="text-align: center;">The effects of human-caused emissions on this planet cannot be understated, and challenge every aspect of society.</h2>
</blockquote>
<p>I&rsquo;ve focused on climate issues in classes ranging from chemistry to Spanish to world history, all of which has reinforced the subject of climate as my driving purpose and the cause I find most essential. <span style="font-weight: 400;">I want to pursue a career in the intersection between scientists researching climate solutions and policymakers enacting change.</span></p>
<p>In addition to taking AP environmental science, I've been fortunate to explore my interest in the environment outside of school through internships, research, film and political organizing.</p>
<h2 style="text-align: center;">Internships and Research</h2>
<h3 style="text-align: center;">AQUAPONICS LAB INTERN AT THE UNIVERSITY OF MARYLAND </h3>
<p>I'm currently starting an internship in the aquaponics lab at the University of Maryland, College Park. <span style="font-weight: 400;"> The lab's graduate students are conducting research into the flow of nonpathogenic viruses through the aquaponics system. I'm learning to monitor the water and soil quality, feed the fish, and clean the bacteria in the lab. I hope our research can contribute to sustainable agriculture practices being adopted more widely, something I am very passionate about.</span></p>
<div class="col-md-15">
<h3 style="text-align: center;">USDA AGRICULTURE DISCOVERY PROGRAM AT THE UNIVERSITY OF MARYLAND</h3>
<p>In the summer of 2021, I participated in the USDA's Ag Discovery scholarship program virtually through the University of Maryland. <span style="font-weight: 400;">I took a 3-credit college course on agriculture, food and the environment. Through this program, I learned about different careers within agriculture and environmental science, learned about the history of agriculture, and completed a research project about the poultry industry in Maryland. I've had a longstanding passion for sustainable agriculture, and this was a formal opportunity for me to delve further into this area of interest.</span></p>
<div class="col-md-15">
<h3 style="text-align: center;">THE NATURE CONSERVANCY LANDFIRE INTERN</h3>
<p>From the summer of 2020 to the summer of 2021, I interned virtually with The Nature Conservancy's LANDFIRE team. <span style="font-weight: 400;">I used GIS and the programming language R &ndash; which I learned in the process &ndash; to model wildfires and other land-based disturbances in North America before the 1600s. These data are important to understanding contemporary fire patterns, including those related to carbon emissions, and the resulting changes to biodiversity. I'd never explored wildfire before, and this was a fascinating delve into the world of ecology. Beyond learning technical skills, I also networked with ecologists across the country and met biweekly with the Conservation Data Lab (CDL).</span></p>
<p><span style="font-weight: 400;">I presented research at the International Association of Landscape Ecology's spring 2021 conference, discussing wildfire patterns specifically in the American Northeast. <a href="https://celestebasken.com/iale">You can see my poster here.</a></span></p>
<p><span style="font-weight: 400;">While I'm not formally interning with TNC any longer, I still advise about webbuilding and occasionally attend CDL events.&nbsp;</span></p>
</div>
<h3 style="text-align: center;">Environmental Science and Policy Through Film</h3>
<p>I believe film is a powerful way to educate and persuade, and I've used multimedia communication to explore environmental issues for years. <a href="https://celestebasken.com/project/">Read more about my filmmaking experience on the film page.</a></p>
<h3 style="text-align: center;">Environmental Activism</h3>
<p>As important as the science in environmental issues are the people who are pushing for sustainable policy. I've been fortunate to get involved with the Sunrise Movement and other progressive organizations to make change at a local and national level around climate issues. <a href="https://celestebasken.com/sunrise/">Read more about my experience in political organizing on the activism page.</a></p>
<h3 style="text-align: center;">Reflections</h3>
<p>I've written a lot about my interest in environmental science and policy for various essays and projects. Attached are some of my reflections that go more in-depth about my passion for environmental issues.</p>
<p>&nbsp;</p>

</section>
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-img">
          <img class="img-responsive" src="{{ .image | relURL }}">
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="mt-40">{{ .title | markdownify }}</h2>
        {{ .content | markdownify }}
        </div>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relURL }}" class="btn btn-small mt-20">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
    <div class="row counter-box text-center mt-50">
      {{ range .funfacts }}
      <div class="col-md-2">
        <div class="counter-item">
          <i class="{{ .icon }}"></i>
          <h4 class="count" data-count="{{ .count }}">0</h4>
          <span>{{ .name }}</span>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ if $data.about.features.enable }}
{{ with $data.about.features }}
<section class="about-feature bg-dark section dark-service">
  <div class="container">
    {{ with .title }}
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>{{ . | markdownify }}</h2>
        </div>
      </div>
    </div>
    {{ end }}
    <div class="row">
      {{ range .feature_item }}
      <div class="col-md-4">
        <div class="service-item">
          <i class="{{ .icon }}"></i>
          <h4>{{ .name | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}



<section class="testimonial section-sm">
  <div class="container">
    <div class="row">
      {{ if $data.about.testimonial.enable }}
      <div class="col-md-6">
        <div class="testimonial-carousel text-center">
          <div class="testimonial-slider owl-carousel">
            {{ range $data.homepage.funfacts.testimonial_slider }}
            <div>
              <i class="ion-quote"></i>
              <p>"{{ .content | markdownify }}"</p>
              <div class="user">
                <img src="{{ .image | relURL }}" alt="client">
                <p><span>{{ .name | markdownify }}</span> {{ .designation | markdownify }}</p>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}

      {{ if $data.about.mission_vision.enable }}
      {{ with $data.about.mission_vision }}
      <div class="col-md-6">
        <div class="tabCommon">
          <ul class="nav nav-tabs">
            {{ range $index, $elements := .tabs }}
            <li {{ if eq $index 0}} class="active" {{ end }}><a href="#{{.name | urlize}}"
                data-toggle="tab">{{.name}}</a></li>
            {{ end }}
          </ul>
          <div class="tab-content">
            {{ range $index, $elements := .tabs }}
            <div id="{{.name | urlize}}" class="tab-pane fade {{ if eq $index 0}} active in {{ end }}">
              <p>{{ .content | markdownify }}</p>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>

<!-- Call to action -->
{{ if $data.about.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

{{ end }}